name: "Docker"

on:
  pull_request: {}
  push:
    branches:
      - main
  workflow_call:
    inputs:
      tag:
        type: string
        required: true

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Generate version
        id: version
        run: |
          if [ "${{github.ref_type}}" == "branch" ]; then
            echo "version=${{ github.ref_name }}-$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          else
            if [ ! -z "${{ inputs.tag }}" ]; then
              echo "version=${{ inputs.tag }}" >> $GITHUB_OUTPUT
            else
              echo "version=unknown" >> $GITHUB_OUTPUT
            fi
          fi

      - uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        id: metadata
        with:
          images: ghcr.io/zerok/samara
          tags: |
            type=semver,pattern={{version}},value=${{ inputs.tag }},enable=${{ inputs.tag != '' }}
            type=raw,value=latest,enable=${{ inputs.tag != '' }}
            type=raw,value=main-{{sha}},enable=${{ github.ref == 'refs/heads/main' }}

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64${{ github.event == 'push' && ',linux/arm64' || ''}}
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          build-args: |
            VERSION=${{steps.version.outputs.version}}

