name: "Docker"

on:
  pull_request: {}
  push:
    branches:
      - main
  workflow_call:
    inputs:
      tag:
        type: string
        required: true

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Generate version
        id: version
        run: |
          if [ "${{github.ref_type}}" == "branch" ]; then
            echo "version=${{ github.ref_name }}-$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          else
            if [ ! -z "${{ inputs.tag }}" ]; then
              echo "version=${{ inputs.tag }}" >> $GITHUB_OUTPUT
            else
              echo "version=unknown" >> $GITHUB_OUTPUT
            fi
          fi

      - uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: metadata
        with:
          images: ghcr.io/zerok/samara
          tags: |
            type=semver,pattern={{version}},value=${{ inputs.tag }},enable=${{ inputs.tag != '' }}
            type=raw,value=latest,enable=${{ inputs.tag != '' }}
            type=raw,value=main-{{sha}},enable=${{ github.ref == 'refs/heads/main' }}

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64${{ github.event == 'push' && ',linux/arm64' || ''}}
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          build-args: |
            VERSION=${{steps.version.outputs.version}}

