on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  packages: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: "${{ steps.release-please.outputs.release_created }}"
      release_tag: "${{ steps.release-please.outputs.tag_name }}"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # https://github.com/actions/checkout/issues/1467 
          fetch-depth: 0

      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          config-file: .release-please.json
          manifest-file: .release-please-manifest.json
          github-token: ${{ github.secret }}

  release-docker-image:
    needs:
      - release-please
    if: needs.release-please.outputs.release_created
    permissions:
      contents: write
      pull-requests: write
      id-token: write
      packages: write
    uses: ./.github/workflows/docker.yaml
    with:
      tag: ${{ needs.release-please.outputs.release_tag }}

