name: "Test"

on:
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0

      - run: |
          go test ./...
